
*{
    box-sizing: border-box;
}

body, html, section{
    width: 100%;
}


body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    
    background-color: #E0FBFC;

    min-height: 100vh;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

body > *{
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
       -moz-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }

header
{
    position: relative;
    top: 0;
}

main{
    flex-grow: 1;
}


.imgLogo{
    width: 10%;
    margin-top: 2%;
}


.contenedor{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    gap: 10px;


}

.botonRedondeado{
    font-size: 1em;
    color: white;
    border: none;
    width: 12em;

    text-align: center;
    border-radius: 24px;
    padding: 10px;

    margin: 0.1em;
    cursor: pointer;
}


a:link,a:visited,a:active{
    text-decoration: none;
    font-size: 1em;
    color: white;
    border: none;
    width: 12em;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 4px;
}

.imgFooter{
    width: 2.5%;
    display: inline-block;
    vertical-align: middle;
}

footer p{
    display: inline-block;
}


/* Inicio estilos agregarPalabra*/


#introducirPalabra{
    width: 80%;
    background: none;
    padding: 0.5em;
    resize: none;
    font-size: 3em;
    border: none;
    width: 80%;
    text-align: center;
    margin-top: 15%;
    
}

#introducirPalabra:focus{
    border: none;
    overflow: hidden;
    outline: none;
}

#areaAdvertencia{
    text-align: center;
    position: relative;
    box-sizing: content-box;
    width: auto;

}

#imgAdvertencia{
    float: left;
    margin-right: 1em;
}

#textoAdvertencia{
    display: inline-block;
}

.botonesInferior{
    width: 99%;
    margin:1%;
    margin-top: auto;
    position: relative;
    bottom: 0;
    text-align: center;
}

/* Fin estilos agregarPalabra*/

/* Inicio estilos areaJuego*/

#horca{
    width: 1200px;
    height: 1000px;
}
.areaLetras{
    height: 4.5em;
}

.conjuntoCajas{
    display: flex;
    justify-content: center;
}

.areaCajas{
    display: inline-block;
    position: relative;
    bottom: 0;
}

.cajasMultiples{
    resize: none;
    background: transparent;
    width: 5em;
    height: 2em;

    border: none;
    border-bottom:  solid 4px #293241;
    border-radius: 4px;

    font-size: 1em;
    width: 3.5em;
    text-align: center;
    font-weight: bold;
    
    margin-right: 1em;
}

.cajasMultiples:focus{
    outline: none;
}
#ahorcado{
    width: 25%;
}

#letraFallada{
    resize: none;
    border: none;
    background-color: transparent;
    width: 100%;

    margin: 1em 0;

    font-size: 1em;
    font-weight: bold;
    color: #EE6C4D;
    text-align: center;

}

#letraFallada:focus{
    border: none;
    overflow: hidden;
    outline: none;
}

.mostrarMensaje{
    background-color: #293241;
    text-align: center;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    max-width: 15em;
    max-height: 15em;

    border-radius: 25px;

    z-index: 10;
    overflow: hidden;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    filter: blur(0);

}

.mostrarMensaje>p{
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.difuminar{
    filter: blur(5px);
    z-index: 5;
}

#botonOk{
    border-style: groove;
    background-color: #293241;
}
/* Fin estilos areaJuego */

#inputMovil{
    border-radius: 1em;
    background: transparent;
    resize: none;
    padding: 7px;
    display: none;
    box-sizing: border-box;
    margin-top: 2.5em;
}

@media screen and (max-width:669px){

    #inputMovil{
        display: block;
    }

    #textoAdvertencia{
        width: 90%;
    }

    #introducirPalabra{
        font-size: 2em;
        margin-top: 25%;
    }

    #imgAdvertencia{
        margin: 0 0 0 1em;
    }

    #ahorcado{
        margin-top: 20%;
        width: 70%;
    }

    .conjuntoCajas{
        margin-left: 0.5em;
    }
}

@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) { /*css específico para tablets*/
    #ahorcado{
        margin-top: 20%;
        width: 50%;
    }

    #inputMovil{
        display: block;
    }
    
}